@import "../../../../assets/variables";


.chakanaSavdo {
    margin-top: 50px;
    background-color: $white;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    padding: 0 1rem;

    &__header {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        margin-right: $right;

        &__left {
            &__list {
                display: flex;

                &__item {
                    border: 1px solid #D0D5DD;
                    padding: 10px 1rem;
                    transition: $transition;
                    cursor: pointer;

                    &:hover {
                        border: 1px solid #4256B9;
                        background: #4256B9;
                        color: $white ;
                    }

                    &:first-child {
                        border-top-left-radius: 1rem;
                        border-bottom-left-radius: 1rem;
                    }

                    &:last-child {
                        border-top-right-radius: 1rem;
                        border-bottom-right-radius: 1rem;
                    }
                }
            }
        }
    }

    &__center {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        margin-right: $right;

        &__left {
            display: flex;
            gap: 20px;

            &__form {
                display: flex;
                gap: 10px;

                input {
                    background-color: $white;
                    border: 2px solid $gary-light;
                    width: 150px;
                    font-size: .9rem;
                }

                button {
                    width: 100px;
                    background-color: $blue;
                    border: 0;
                    cursor: pointer;
                    color: $white;
                    font-size: .9rem;
                    font-weight: 500;
                }
            }

            &__pdf {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                width: 100px;
                background-color: $blue;
                border: 0;
                cursor: pointer;
                color: $white;
                font-size: .9rem;
                font-weight: 500;

                i {
                    font-size: 1.1rem;
                    color: #85E623;
                }
            }
        }

        &__right {
            &__list {
                display: flex;
                gap: 20px;

                &__item {
                    padding: 8px 2rem;
                    border: 1px solid #00000033;
                    transition: $transition;
                    cursor: pointer;

                    &:hover {
                        border: 1px solid #4256B9;
                        background: #4256B9;
                        color: $white ;
                    }
                }
            }
        }
    }


    &__table {
        margin-top: 2rem;
        overflow-x: scroll;
        margin-right: $right;

        table {
            width: 100%;
            border-collapse: collapse;

            tr {

                th,
                td {
                    border: 1px solid $gary-light;
                    text-wrap: nowrap;
                    padding: .5rem;
                    text-align: start;
                    height: 60px;
                }

                th {
                    font-size: 1rem;
                    font-weight: 600;

                    label {
                        select {
                            font-size: 1rem;
                            font-weight: 600;
                            border: 0;
                            cursor: pointer;
                        }
                    }
                }
            }

            thead {
                background-color: $aqua;
            }

            tbody {

                tr {

                    .icon__list {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 15px;

                        &__item {
                            width: 30px;
                            height: 30px;
                            border: 0;
                            background-color: transparent;
                            cursor: pointer;
                            color: $white;
                            font-size: .8rem;
                            border-radius: 5px;
                            transition: all .3s;

                            &:hover {
                                transform: scale(0.9);
                            }

                            &:nth-child(1) {
                                background-color: $blue;
                            }

                            &:nth-child(2) {
                                background-color: $green;
                            }

                            &:nth-child(3) {
                                background-color: $red;
                            }
                        }
                    }
                }
            }

            tfoot {
                background-color: $yellow;
            }
        }
    }
}

.act {
    border: 1px solid #4256B9;
    background: #4256B9;
    color: $white ;
}