@import "../../../../assets/variables";

.statisticIntro {
    margin-top: 50px;
    background-color: $white;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    padding: 0 1rem;

    .modalOpacity {
        min-width: 100%;
        min-height: 100%;
        position: fixed;
        background-color: $black;
        top: 0;
        right: 0;
        left: 0;
        z-index: 9999;
        opacity: .5;
        display: none;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 9999;
        background-color: #F5F5F5;
        margin: 0 auto;
        top: 10%;
        left: 0;
        right: 0;
        width: 400px;
        padding: .5rem;
        border-radius: $radius;
        box-shadow: 0px 4px 4px 0px #00000040;

        &__header {
            display: flex;
            align-items: center;
            justify-content: end;

            p {
                width: 30px;
                height: 30px;
                font-size: $xl;
                color: $gary;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &__body {
            border-radius: $radius;
            padding-left: .5rem;

            form {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 20px;
                overflow-y: scroll;
                height: 80vh;

                label {
                    width: 100%;

                    p {
                        font-size: $xs;
                        color: $gary;
                    }
                    select,
                    input {
                        width: 100%;
                        border: 1px solid #00000040;
                        height: 30px;
                    }
                }

                button {
                    margin: 1rem 0;
                    cursor: pointer;
                    height: 45px;
                    width: 150px;
                    font-size: $xs;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;
                    border-radius: $radius;
                    border: 0;
                    font-weight: 500;
                    background-color: #D9D9D9;

                    i {
                        font-size: $xl;
                        color: $gary;
                    }
                }
            }
        }
    }


    &__header {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        margin-right: $right;

        &__left {
            &__list {
                display: flex;

                &__item {
                    border: 1px solid #D0D5DD;
                    padding: 10px 1rem;
                    transition: $transition;
                    cursor: pointer;

                    &:hover {
                        border: 1px solid #4256B9;
                        background: #4256B9;
                        color: $white ;
                    }

                    &:first-child {
                        border-top-left-radius: 1rem;
                        border-bottom-left-radius: 1rem;
                    }

                    &:last-child {
                        border-top-right-radius: 1rem;
                        border-bottom-right-radius: 1rem;
                    }
                }
            }
        }

        &__right {
            &__list {
                display: flex;
                gap: 20px;

                &__item {
                    padding: 8px 2rem;
                    border: 1px solid #00000033;
                    transition: $transition;
                    cursor: pointer;

                    &:hover {
                        border: 1px solid #4256B9;
                        background: #4256B9;
                        color: $white ;
                    }
                }
            }
        }
    }

    &__body {
        margin-top: 20px;
        display: flex;
        gap: 50px;

        &__left {
            width: 600px;
            display: flex;
            flex-direction: column;
            gap: 30px;

            &__top {
                display: flex;
                align-items: center;
                gap: 20px;
                flex-wrap: wrap;

                &__chart {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    box-shadow: 0px 4px 4px 0px #00000040;
                    border-radius: 1rem;
                    padding: 10px;

                    .name {
                        font-size: $xs;
                        color: $black;
                    }

                    b {
                        font-size: $xx;
                        font-weight: 600;
                        color: #34B53A;
                    }

                    p {
                        font-size: $xs;
                        color: #34B53A;
                    }

                    &:nth-child(2) {
                        b {
                            color: #02A0FC;
                        }
                    }

                    &:nth-child(3) {
                        b {
                            color: #4339F2;
                        }
                    }

                    &:nth-child(4) {
                        b {
                            color: #FFB200;
                        }
                    }
                }
            }

            &__bottom {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                box-shadow: 0px 4px 4px 0px #00000040;
                border-radius: 1rem;
                padding: 10px;

                &__header {
                    display: flex;
                    justify-content: space-between;

                    ul {
                        display: flex;
                        gap: 20px;

                        p {
                            font-size: $xs;
                        }

                        li {
                            display: flex;
                            align-items: center;
                            gap: 5px;

                            b {
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                background-color: #FF3A29;
                            }

                            &:nth-child(2) {
                                b {
                                    background-color: #4339F2;
                                }
                            }

                            &:nth-child(3) {
                                b {
                                    background-color: #FFB200;
                                }
                            }

                            p {
                                font-size: 14px;
                            }
                        }
                    }
                }

                .chart {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    font-size: 14px;
                    color: $gary;
                }
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            gap: 30px;
            flex: 1;
            margin-right: $right;

            &__top {
                display: flex;
                flex-direction: column;
                gap: 20px;
                overflow-y: scroll;
                height: 40vh;

                &__header {
                    height: 50px;
                    display: flex;
                    align-items: center;

                    p {
                        color: $black;
                        font-size: $xl;
                        font-weight: 500;
                    }
                }


                &__table {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    width: 100%;
                    overflow-x: scroll;

                    table {
                        width: 100%;
                        background-color: #EAECF0;

                        tr {

                            th,
                            td {
                                padding: .5rem;
                                text-align: start;
                                height: 40px;
                            }

                            th {
                                font-size: 12px;
                                color: $gary;
                            }
                        }

                        thead {
                            background-color: $aqua;
                        }

                        tbody {
                            background-color: $white;

                            tr {

                                .icon__list {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    gap: 15px;

                                    &__item {
                                        width: 30px;
                                        height: 30px;
                                        border: 0;
                                        background-color: transparent;
                                        cursor: pointer;
                                        color: $white;
                                        font-size: .8rem;
                                        border-radius: 5px;
                                        transition: all .3s;

                                        &:hover {
                                            transform: scale(0.9);
                                        }

                                        &:nth-child(1) {
                                            background-color: $blue;
                                        }

                                        &:nth-child(2) {
                                            background-color: $green;
                                        }

                                        &:nth-child(3) {
                                            background-color: $red;
                                        }
                                    }
                                }
                            }

                            .skeleton__list {
                                &__item {
                                    @include skeleton
                                }
                            }
                        }
                    }
                }
            }

            &__bottom {
                display: flex;
                flex-direction: column;
                gap: 20px;
                overflow-y: scroll;
                height: 40vh;

                &__header {
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    p {
                        color: $black;
                        font-size: $xl;
                        font-weight: 500;
                    }

                    button {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        padding: .4rem 2.5rem;
                        border-radius: $radius;
                        border: 0;
                        box-shadow: $shadow;
                        background-color: $white;
                        font-size: $xs;
                        cursor: pointer;

                        &:hover {
                            @include scale
                        }
                    }
                }

                &__table {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    width: 100%;
                    overflow-x: scroll;

                    table {
                        width: 100%;
                        background-color: #EAECF0;

                        tr {

                            th,
                            td {
                                padding: .5rem;
                                text-align: start;
                                height: 40px;
                            }

                            th {
                                font-size: 12px;
                                color: $gary;
                            }
                        }

                        thead {
                            background-color: $aqua;
                        }

                        tbody {
                            background-color: $white;

                            tr {

                                .icon__list {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    gap: 15px;

                                    &__item {
                                        width: 30px;
                                        height: 30px;
                                        border: 0;
                                        background-color: transparent;
                                        cursor: pointer;
                                        color: $white;
                                        font-size: .8rem;
                                        border-radius: 5px;
                                        transition: all .3s;

                                        &:hover {
                                            transform: scale(0.9);
                                        }

                                        &:nth-child(1) {
                                            background-color: $blue;
                                        }

                                        &:nth-child(2) {
                                            background-color: $green;
                                        }

                                        &:nth-child(3) {
                                            background-color: $red;
                                        }
                                    }
                                }
                            }

                            .skeleton__list {
                                &__item {
                                    @include skeleton
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.act {
    border: 1px solid #4256B9;
    background: #4256B9;
    color: $white ;
}

.actModal {
    display: block !important;
}