$black: #0D1320;
$white: #fff;
$purple: #4256B9;
$green: #43B939;
$red: #fd5545;
$yellow: #FFB200;
$yellow-light: #FFCE5C;
$gary: #374856;
$gary-light: #00000021;
$blue: #0070FF;
$aqua: #CCF8FE;

$xx: 35px;
$xl: 24px;
$xs: 18px;
$right: 10rem;
$radius: 10px;
$transition: .3s all ease;
$shadow: 0px 4px 4px 0px #00000040;


@mixin title {
    font-size: $fs-title;

    @media only screen and (max-width: 991px) {
        font-size: 1.6rem;
    }
}

@mixin scale {
    transition: $transition;
    transform: scale(.95);
}

@mixin skeleton {

    border-radius: 5px;
    height: 40px;
    animation: Skeleton-loading 1s linear infinite alternate;

    @keyframes Skeleton-loading {
        0% {
            background-color: hsl(200, 20%, 70%);
        }

        100% {
            background-color: hsl(200, 20%, 95%);
        }
    }
}

@mixin loader {

    pointer-events: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $white;
    animation: an1 1s ease infinite;

    @keyframes an1 {
        0% {
            transform: rotate(0turn);
        }

        100% {
            transform: rotate(1turn);
        }
    }
}