@import "../../../assets/variables";

.intro {
    margin-top: 50px;
    background-color: $white;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    margin-right: $right;
    padding: 0 1rem;

    .modalOpacity {
        min-width: 100%;
        min-height: 100%;
        position: fixed;
        background-color: $black;
        top: 0;
        right: 0;
        left: 0;
        z-index: 9999;
        opacity: .5;
        display: none;
    }
    
    .modal {
        display: none;
        position: fixed;
        z-index: 9999;
        background-color: #fff;
        margin: 0 auto;
        top: 10%;
        left: 0;
        right: 0;
        width: 600px;
        padding: 1.5rem 1rem;
        border-radius: $radius;
        box-shadow: 0px 4px 4px 0px #00000040;

        &__sale {
            &__header {
                display: flex;
                justify-content: space-between;

                span {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: $gary;

                    i {
                        color: $green;
                    }
                }

                p {
                    i {
                        color: $red;
                        font-size: 1.2rem;
                    }
                }
            }

            &__body {
                margin-top: .5rem;

                &__top {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 60px;
                    border: 1px solid $black;

                    p {
                        font-size: 2rem;
                    }
                }

                &__form {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    &__top {
                        margin-top: 20px;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 20px;
                        justify-content: space-between;

                        label {
                            display: flex;

                            p {
                                text-align: end;
                                width: 80px;
                                font-size: 1.1rem;
                                font-weight: 600;
                                padding-right: 10px;
                            }

                            input {
                                height: 30px;
                                border: 1px solid $black;
                            }
                        }
                    }

                    &__bottom {
                        margin-top: 1rem;
                        display: flex;
                        justify-content: center;

                        span {
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            gap: .5rem;

                            p {
                                font-size: .9rem;
                            }

                            button {
                                width: 137px;
                                height: 60px;
                                border: 1px solid $gary;
                                border-radius: 0;
                                background-color: $white;
                                transition: $transition;
                                cursor: pointer;

                                i {
                                    font-size: 2rem;
                                }

                                &:hover {
                                    background-color: #EBEAEA;
                                }
                            }

                            &:nth-child(1) {
                                i {
                                    color: $blue;
                                }
                            }

                            &:nth-child(3) {
                                i {
                                    color: $green;
                                }
                            }

                            &:nth-child(4) {
                                i {
                                    color: $red;
                                }
                            }
                        }
                    }
                }
            }
        }

        &__body {
            border: 1px solid $gary;
            border-radius: $radius;
            padding-left: .5rem;

            &__header {
                display: flex;
                flex-direction: column;
                border: 1px solid #00000040;
                gap: 1px;

                b {
                    font-size: $xl;
                    padding: 0 .5rem;

                    &:first-child {
                        background-color: $green;
                        border-bottom: 1px solid #00000040;
                    }
                }
            }

            &__center {
                display: flex;
                flex-direction: column;
                gap: 30px;

                &__left {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    &__top {
                        margin-top: 10px;
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        &__left {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            span {
                                display: flex;
                                gap: 10px;

                                p {
                                    font-size: 14px;
                                    color: #585454;
                                }

                                input {
                                    width: 150px;
                                    height: 25px;
                                    border: 1px solid #00000040;
                                }
                            }
                        }

                        &__right {
                            display: flex;
                            align-items: end;
                            gap: 10px;
                            flex: 1;
                            margin-right: 1rem;

                            p {
                                font-size: 14px;
                                color: #585454;
                            }

                            input {
                                width: 90%;
                                height: 50px;
                                font-weight: 600;
                                font-size: $xx;
                                border: 1px solid #00000040;
                            }
                        }
                    }

                    &__bottom {
                        display: flex;
                        align-items: end;
                        gap: 10px;
                        flex: 1;
                        margin-right: 1rem;

                        p {
                            font-size: 14px;
                            color: #585454;
                        }

                        input {
                            width: 90%;
                            height: 40px;
                            font-size: $xx;
                            font-weight: 600;
                            border: 1px solid #00000040;
                        }
                    }
                }

                &__right {
                    display: flex;
                    width: 100%;

                    &__left {
                        display: flex;
                        gap: 10px;
                        width: 200px;

                        input {
                            width: 55%;
                            border: 1px solid #00000040;
                        }

                        div {
                            width: 50%;
                            display: flex;
                            flex-direction: column;
                            gap: 5px;

                            input {
                                padding: 0;
                            }
                        }
                    }

                    &__right {
                        display: flex;
                        width: 100%;
                        flex: 1;
                        margin-right: 1rem;

                        input {
                            display: flex;
                            width: 100%;
                            flex: 1;
                            border: 1px solid #00000040;
                        }
                    }
                }
            }

            &__footer {
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                &__top {
                    display: flex;
                    gap: 20px;

                    p {
                        color: #667085;
                    }

                    button {
                        width: 45px;
                        height: 45px;
                        font-size: 2rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $white;
                        background-color: $green;
                        cursor: pointer;
                        border: 0;
                        border-radius: 5px;

                        &:hover {
                            @include scale
                        }

                        &:last-child {
                            background-color: $red;
                            margin-left: 20px;
                        }
                    }
                }

                &__bottom {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0 1rem 1rem 0;

                    div {
                        display: flex;
                        gap: 5px;

                        span {
                            width: 140px;
                            height: 40px;
                            border-radius: 5px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: $aqua;
                            font-size: 1.2rem;
                            font-weight: 600;

                            &:first-child {
                                background-color: $blue;
                            }
                        }
                    }
                }
            }
        }
    }

    &__top {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        gap: 20px;

        a,
        p {
            width: 170px;
            height: 40px;
            display: flex;
            gap: 10px;
            font-size: $xs;
            color: $black;
            font-weight: 600;
            align-items: center;
            justify-content: center;
            border-radius: $radius;
            background-color: #00000040;
            box-shadow: 0px 4px 4px 0px #00000040 inset;

            i {
                color: $gary;
            }
        }

        a {
            background-color: $white;
            box-shadow: $shadow;
        }
    }

    &__center {
        display: flex;
        margin-right: $right;
        align-items: start;
        gap: 10px;

        .dataTable {
            display: flex;
            flex: 1;

            &__table {
                display: flex;
                flex-direction: column;
                flex: 1;
                width: 100%;
                overflow-x: scroll;

                table {
                    width: 100%;
                    background-color: #EAECF0;

                    tr {

                        th,
                        td {
                            padding: .5rem;
                            text-align: start;
                            height: 40px;
                        }

                        th {
                            font-size: 12px;
                            color: $gary;
                        }
                    }

                    thead {
                        background-color: $aqua;
                    }

                    tbody {
                        background-color: $white;

                        tr {
                            // &:hover {
                            //      : $green;
                            // }

                            .icon__list {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 15px;

                                &__item {
                                    width: 30px;
                                    height: 30px;
                                    border: 0;
                                    background-color: transparent;
                                    cursor: pointer;
                                    color: $white;
                                    font-size: .8rem;
                                    border-radius: 5px;
                                    transition: all .3s;

                                    &:hover {
                                        transform: scale(0.9);
                                    }

                                    &:nth-child(1) {
                                        background-color: $blue;
                                    }

                                    &:nth-child(2) {
                                        background-color: $green;
                                    }

                                    &:nth-child(3) {
                                        background-color: $red;
                                    }
                                }
                            }
                        }

                        .skeleton__list {
                            &__item {
                                @include skeleton
                            }
                        }
                    }
                }
            }
        }

        &__right {
            width: 340px;
            background-color: $gary-light;
            border-radius: $radius;
            padding: 15px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 50px;

            &__list {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 5px;

                &__item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    p {
                        font-size: 14px;
                        color: $gary;
                        font-weight: 600;
                    }

                    b {
                        font-size: $xl;
                        font-weight: 600;
                    }

                    .date {
                        font-size: $xs;
                    }
                }
            }

            &__btn {
                height: 40px;
                width: 60%;
                font-size: $xs;
                font-weight: 700;
                border-radius: $radius;
                border: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #D6D6D6;
                gap: 10px;
                cursor: pointer;

                i {
                    font-size: $xl;
                    color: $red;
                }
            }
        }
    }

    &__controls {
        display: flex;
        flex-direction: column;
        gap: 5px;

        span {
            display: flex;
            gap: 5px;
            align-items: center;
            font-size: $xl;
            font-weight: 600;

            p {
                color: $black;
                font-size: $xx;
            }
        }

        &__search {
            width: 400px;
            display: flex;
            align-items: center;
            background-color: $gary-light;
            border-radius: $radius;
            padding: 8px;
            position: relative;

            button {
                position: absolute;
                left: 1rem;
                border: 0;
                background-color: transparent;
                color: #9A9FA5;
            }

            input {
                width: 100%;
                height: 30px;
                padding-left: 2rem;
                background-color: transparent;
                border: 0;
                color: $black;
                font-weight: 600;

                &::placeholder {
                    font-weight: 600;
                    color: #9A9FA5;
                }
            }

            b {
                padding: 3px 1rem;
                border-radius: $radius;
                background-color: $white;
                position: absolute;
                right: 1rem;
                cursor: pointer;
                color: $black;
            }

            p {
                position: absolute;
                right: 5.5rem;
                cursor: pointer;
                color: $gary;
            }
        }
    }

    &__bottom {
        margin-right: $right;

        .dataTable {
            display: flex;
            flex: 1;

            &__table {
                display: flex;
                flex-direction: column;
                flex: 1;
                width: 100%;
                overflow-x: scroll;

                table {
                    width: 100%;
                    background-color: #EAECF0;

                    tr {

                        th,
                        td {
                            padding: .5rem;
                            text-align: start;
                            height: 40px;
                        }

                        th {
                            font-size: 12px;
                            color: $gary;
                        }
                    }

                    thead {
                        background-color: $aqua;
                    }

                    tbody {
                        background-color: $white;

                        tr {

                            .icon__list {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 15px;

                                &__item {
                                    width: 30px;
                                    height: 30px;
                                    border: 0;
                                    background-color: transparent;
                                    cursor: pointer;
                                    color: $white;
                                    font-size: .8rem;
                                    border-radius: 5px;
                                    transition: all .3s;

                                    &:hover {
                                        transform: scale(0.9);
                                    }

                                    &:nth-child(1) {
                                        background-color: $blue;
                                    }

                                    &:nth-child(2) {
                                        background-color: $green;
                                    }

                                    &:nth-child(3) {
                                        background-color: $red;
                                    }
                                }
                            }
                        }

                        .skeleton__list {
                            &__item {
                                @include skeleton
                            }
                        }
                    }
                }
            }

            &__pagination {
                margin-top: 1rem;
                margin-bottom: 1rem;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: end;
                gap: 5px;

                &__btn,
                &__items {
                    width: 35px;
                    height: 35px;
                    background: 0;
                    border: 1px solid #dbdbdb;
                    transition: all .3s;
                    cursor: pointer;
                    font-size: 1.1rem;
                    font-weight: 600;
                    border-radius: 10px;

                    &:hover {
                        background-color: $blue;
                        color: $white;
                    }
                }
            }
        }
    }
}

.saleAct {
    background-color: #EBEAEA !important;
}

.act {
    background-color: $blue !important;
    border: 1px solid $blue !important;
    color: $white;
}

.tableBc {
    background-color: #F2F2F2;
}

.red {
    background-color: $red !important;
}

.green {
    background-color: $green !important;
}

.actModal {
    display: block !important;
}

.yellow {
    background-color: yellow !important;
}

.inpBack {
    background-color: $green !important;
}